---
layout: default
---

Welcome to my website!
<br>
<br>
I have been working and/or doing research in:
<ul>
	<li> Econometric and statistical methods </li>
	<li> Mathematical optimization (linear programming, second-order cone programming) </li>
</ul>
with applications in:
<ul>
	<li> Banking and financial market </li>
	<li> Energy market modelling </li>
</ul>

I also do:
<ul>
	<li> Data modelling; Extract, Transform and Load (ETL) process </li>
	<li> Data visualisation </li>
	<li> Cloud computing services (Microsoft Azure products and services such as Databricks, Data Factory, DevOps, SQL Database) </li>
	<li> Empirical research in:
</ul>

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
