---
layout: default
---

Welcome to my website!
<br>
<br>
I have experience working and doing research in:
<ul>
	<li> Econometric and statistical methods </li>
	<li> Mathematical optimization </li>
</ul>
with applications in:
<ul>
	<li> Banking and financial market (e.g. rates outlier detection, interest rate forecast) </li>
	<li> Investment management (e.g. asset rebalancing) </li>
	<li> Energy market modelling (e.g. electricity price forecast, capacity expansion optimization) </li>
</ul>

I also have experience in:
<ul>
	<li> Data modelling </li>
	<li> Extract, Transform and Load (ETL) process </li>
	<li> Data visualisation </li>
	<li> Cloud computing services (Microsoft Azure products and services such as Databricks, Data Factory, DevOps, SQL Database) </li>
</ul>

I am familiar with Python, R, Matlab, SQL.

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
